body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#1f4037,#99f2c8);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.player{
background:#111;
color:white;
padding:30px;
border-radius:15px;
width:350px;
text-align:center;
box-shadow:0 0 20px rgba(0,0,0,0.5);
}

h1{
margin-bottom:10px;
}

#nowPlaying{
font-size:14px;
color:#ccc;
margin-bottom:15px;
}

ul{
list-style:none;
padding:0;
max-height:150px;
overflow-y:auto;
}

li{
padding:10px;
border-bottom:1px solid #333;
cursor:pointer;
}

li:hover{
background:#222;
}

.active{
background:#00c6ff;
color:black;
}

.controls button{
margin:10px;
padding:10px;
font-size:18px;
border:none;
border-radius:50%;
cursor:pointer;
}

.controls button:hover{
background:#00c6ff;
}

.time{
display:flex;
align-items:center;
justify-content:center;
gap:10px;
margin:10px 0;
}

input[type="range"]{
width:100%;
}